#header {
    background-color: #83DFFF;
    color: whitesmoke;
    svg {
        color: whitesmoke;
    }
    a {
        padding-right: 8px;
        color: whitesmoke;
    }
}

// #nav-principal {
//     display: flex;
//     justify-content: space-between;
//     align-items: baseline;
// }

#shortcuts {
    list-style-type: none;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: end;
}

.fa-magnifying-glass {
    font-size: 16px;
}

#nav-elements {
    display: flex;
    gap: 28px;
    justify-content: end;
    // border: 1px solid;
    // padding: 16px;
    // border-radius: 28px;
    
    a:hover {
        // background-color: #F5C555;
        // padding: 14px 10px;
        // border-radius: 20px;
        border-bottom: 1px solid;
    }

    a {
        background-color: transparent;
        // padding: 14px 10px; 
        padding-bottom: 8px;
    }
    
    a.active {
        // background-color: #F5C555;
        // padding: 14px 10px;
        // border-radius: 20px;
        border-bottom: 1px solid #F5C555;
    }
}


#account {
    padding: 8px;
    border-radius: 25px;
    background-color: #F5C555;
}

// #shortcuts {
//     display: flex;
//     align-items: center;
// }


  