#navbar {
    // background: linear-gradient(180deg, #51a5eb, transparent);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    a {
        color: whitesmoke;
    }
}

// .row {
//     --bs-gutter-x: 0;
// }

#menu {
    right: 0;
    left: 0;
    position: absolute;
    z-index: 2;
}
