.overlay {
    position: fixed;
    height: 100vh;
    width: 75%;
    top: 0;
    left: 0;
    background-color: #031721;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: all 0.5s;
    z-index: -1;
    opacity: 80%;
}

.overlay.show {
    transform: translateX(0%);
    // transition: all 0.5s;
}

#nav-secondaire ul {
    display: none;
    list-style-type: none;
    margin-top: 64px;
    font-size: 22px;
    line-height: 40px;
}

#nav-secondaire .sousliste {
    margin-top: 0;
    padding-left: 24px;
    font-size: 18px;
    line-height: 24px;
    display: none;
}

#closeBtn {
    display: none;
}

.not-overlay {
    position: fixed;
    height: 100vh;
    width: 25%;
    top: 0;
    right: 0;
    cursor: pointer;
    display: none;
    opacity: 0;
    background: rgba(0,0,0,0.5);
}