.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    background-color: #031721;
    transform: translateX(100%);
    transition: all 0.5s;
    z-index: -1;
    opacity: 90%;
}

.overlay.show {
    transform: translateX(50%);
    // transition: all 0.5s;
}

#nav-secondaire {
    margin-left: 730px;
    margin-top: 88px;
    // ul {
    // display: none;
    // margin-top: 64px;
    // line-height: 40px;
    // position: absolute;
    // right: 25%;
    // }

    a {
        color: whitesmoke;
    }
}

.souscat {
    display: none;
    line-height: 40px;
    // position: absolute;
    // right: 390px;
    // top: 190px;
}

#nav-secondaire .sousliste {
    margin-top: 0;
    padding-left: 24px;
    font-size: 14px;
    line-height: 24px;
    display: none;
}

// #closeBtn {
//     display: none;
// }

.not-overlay {
    position: fixed;
    height: 100%;
    width: 50%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
    // background: rgba(0,0,0,0.5);
}

.liensouscat {
    color: whitesmoke;
}