#sidebar {
    width: 70px;
    position: fixed;
    right: 8px;
    height: 100%;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    .social-links {
        display: flex;
        flex-direction: column;
        font-size: 26px;
        gap: 8px;

        a {
            color: #002E4D;
        }
    }
}



