.navbar {
    align-items: baseline;
}

.dropdown-menu {
    min-width: 12rem;
    max-width: 250px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
    margin-left: 0;
 }

    .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: black;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;

    &:hover, .nav-link:focus  {
        color: black;
    }
}

.social-links > a {
    padding-right: 8px;
    font-size: 16px;
}

#search {
    margin-right: 8px;
}

#logo {
    background-color: #031721;
    padding: 8px;
}