.image  {
    position: relative;
    
    img {
        width: 100%;
        border-radius: 5px;
    }
}

.title {
    z-index: 2;
    line-height: 2px;
    color: #f6c85c;
    text-transform: uppercase;
    letter-spacing: -5px;

    h1 {
        font-size: 80px;
        margin: 0;
    }

    p {
        font-size: 40px;
        font-weight: 300;
    }

    span {
        font-size: 40px;
        font-weight: 300; 
    }
    
}